langchain-community
langchain-text-splitters
openai
chromadb
langchain-chroma
langchain-huggingface
streamlit
pypdf
torch    # Установить с --index-url https://download.pytorch.org/whl/cpu для CPU версии
sentence-transformers
langchain-core
langchain-classic
rank-bm25
