langchain-community
langchain-text-splitters
openai
langchain-openai
datasets
chromadb
langchain-chroma
langchain-huggingface
pypdf
torch
sentence-transformers
langchain-core
langchain-classic
rank-bm25
ragas
pandas
python-dotenv
ollama
fastapi
uvicorn[standard]